link(href='css/normalize.min.css', rel='stylesheet')
link(href='css/font-awesome.min.css', rel='stylesheet')
link(href='css/jquery.mmenu.css', rel='stylesheet')
link(href='css/juxtapose.css', rel='stylesheet')
link(href='css/magnific-popup.css', rel='stylesheet')
link(href='css/slick.css', rel='stylesheet')
link(href='css/style.css', rel='stylesheet')