script(src='js/jquery-2.2.2.min.js')
script(src='js/jquery.mousewheel.min.js')
script(src='js/slick.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.mmenu.min.js')
script(src='js/juxtapose.min.js')
script(src='js/jquery.waypoints.min.js')
script(src='js/jquery.validate.min.js')
script(src='js/turn.min.js')
script(src='js/script.js')