doctype html
html(lang='ru')
    head
        title trade-meta
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='backend и frontend, интеграция тем wordpress, создание плагинов wordpress, yii2-разработка, доработка сайтов, html-верстальщик, занимаюсь оптимизированной версткой и созданием сайтов')
        meta(name='keywords', content='backend, frontend, php, wordpress, yii2, javascript, доработка сайтов, html-верстальщик')
        meta(name='yandex-verification', content='2a1ace9675509622')
        link(rel='icon', href='img/favicon.ico', type='image/x-icon')
        include ../additional/single-css
    body
        block content